* {
  /*outline: 1px solid red;*/
}

.modal__overlay {
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__dialog {
  width: 815px;
  height: 600px;
  background-color: white;
}

.modal__image {
  width: 480px;
  height: 600px;
  object-fit: cover;
}

.modal__content {
  padding: 20px;
  width: 100%;
}

.modal__content {
  font-size: 14px;
}

.modal__content header {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.modal__content .follow {
  color: #3897f0;
}

.modal__content .avatar {
  margin-right: 10px;
}

.modal__content .certification {
  margin-right: 4px;
}

.modal__content .follow {
  margin-left: 4px;
}

.modal__footer {
  padding-top: 5px;
}

.modal__footer time {
  font-size: 10px;
  letter-spacing: .2px;
  color: #999;
  text-transform: uppercase;
}

.modal__footer form {
  border-top: 1px solid #EFEFEF;
  margin-top: 5px;
}

.modal__footer input {
  border: 0;
  height: 56px;
  width: 100%;
  font-size: 14px;
}

.modal__footer input:focus {
  outline: 0;
}

.modal__content aside {
  overflow: scroll;
  height: calc(575px - 66px - 96px);
  border-bottom: 1px solid #EFEFEF;
}

.modal__content aside p {
  margin: 8px 0;
}

.modal__close {
  border: 0;
  background-color: transparent;
  font-size: 25px;
  position: absolute;
  color: white;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
